.subject
{
    padding: 20px 30px;
    background-color: #FAFBFD;
    border-radius: 20px;
    transition: all 250ms;
    cursor: pointer;
}
.subject:hover
{
    scale: 1.02;
}
.sub-icon
{
    background-color: #9872f0;
    border-radius: 5px;
    margin: 10px;
    flex: 1;
    padding: 8px;
}
.sub-name
{
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}
.sub-teacher
{
    font-size: 14px;
    padding: 0;
    margin: 15px 0;
}