#root {
  /* max-width: 1280px; */
  min-height: 100vh;
  margin: 0 auto;
  align-items: start;
  /* padding: 2rem; */
  /* text-align: center; */

}
.content
{
  /* display: flex; */
  display: inline-flex;
  flex-grow: 1;
  flex-direction: column;
  width: calc(100% - 200px);
}